   body {
 background-image:url(http://www.2fons.ru/pic/201406/2560x1600/2fons.ru-23591.jpg);
  background-repeat:no-repeat; background-position:  center;background-attachment: fixed;
}
h1    
{
    color: red;   font-size: 250%;
    text-align: center;
    border-style: dotted; 
    border-color: aqua;
    border-width:10px 
}
p.a
{
font-size:200%;
margin-left: 50px
}
p.b
{
font-size:150%;
margin-left: 50px
}
a{color: aqua}
